/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./app/teams/page.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
.page_main__CBAt_ {
    display: flex;
    flex-direction: column;
    gap: 32px;
    grid-row-start: 2;
    margin-top: 100px;
}

.page_main__CBAt_ h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
